.title-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 12px;
}

.headers {
    display: flex;
    flex-direction: column;
    margin: 6px 0;
}

.header {
    padding: 0;
    margin: 8px 0;
    color: #CC9966;
    font-size: 28px;
    font-weight: 600;
}

.subheader {
    padding: 0;
    margin: 8px 0;
    font-size: 14px;
    color: silver;
}

.connect {
    display: flex;
    justify-content: space-between;
    color: silver;
    font-size: 12px;
    margin: 12px 0;
}

.balance {
    padding: 8px;
    align-self: center;
    align-items: center;
    margin-right: 16px;
    border-radius: 4px;
    background: #111;
    box-shadow: 0 0 12px 0 #222;
}

.wallet {
    padding: 8px;
    display: flex;
    align-self: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    background: #111;
    box-shadow: 0 0 8px 0 #222;
}

.wallet:hover {
    cursor: pointer;
}

.wallet:active {
    box-shadow: 0 0 12px 0 #444;
}

.wallet_span {
    margin: 0 8px 0 0;
}

.disconnect {
    padding: 8px;
    margin-left: 14px;
    display: flex;
    align-self: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background: #111
}