table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 6px;
}

thead {
    background: #444;
    color: #CC9966;
    text-align: left;
}

th {
    padding: 18px;
    font-size: 14px;
}

tbody > tr:hover {
    color: #CC9966;
    background: #111;
    cursor: pointer;
}

td {
    border-bottom: 0.05px solid #666;
    padding: 18px;
    border-radius: 6px;
}

@media (max-width: 768px) {
    table {
        font-size: 11px;
    }
    th {
        padding: 6px;
    }
    td {
        padding: 6px;
        font-weight: 400;
        letter-spacing: -0.1px;
    }
}